* {
    /* font-family: "Montserrat", sans-serif !important; */
    margin: 0;
    box-sizing: border-box !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
body {
    background-color: #9195A3;
    box-sizing: border-box !important;
    padding: 0 !important;
}

a {
    text-decoration: none;
}

button {
    text-transform: capitalize !important;
}

.redDot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: red;
    animation: blinkingAnimation 1s infinite;
    position: absolute;
    top: 8px;
    right: 48px;
}

@keyframes blinkingAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    display: none !important;
}


.swiper-button-prev:before,
.swiper-button-next:before {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    display: none !important;
}

.autoplay-progress {
    display: none !important;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: none !important;
}

.detailsbutton {
    font-size: 11px !important;
    font-weight: 600 !important;
    text-transform: capitalize !important;
    width: fit-content !important;
    height: fit-content !important;
    border-radius: 20px !important;
    padding: 5px 20px !important;
}

.detailsbutton>svg {

    font-size: 17px !important;
    margin-right: 5px !important;
}

.gamecategory {

    border-radius: 50% !important;
    padding: 10px !important;
    box-sizing: border-box !important;
    width: 70px !important;
    height: 70px !important;
    overflow: hidden !important;
    background: linear-gradient(180deg, #6fa0ff 0%, #7e58f9 100%);
}

.gamecategory>img {
    object-fit: cover !important;
    object-position: center !important;
    width: 100% !important;
}

.footerBox {
    position: fixed;
    bottom: 0;
    left: auto;
    z-index: 50000;
    max-width: 400px;
    padding: 26px 10px;
    height: 70px;
    width: 100%;
}
.k3 {
    background: white !important;
    border-radius: 10px;
    color: rgb(154 154 154) !important;
    font-size: 12px !important;
    font-weight: 700;
    width: 32%;
    padding: 10px 0px !important;
}
.k3active {
    background: linear-gradient(180deg, #FF9901 0%, #E57201 100%) !important;
    border-radius: 10px;
    color: gray !important;
    font-size: 12px !important;
    font-weight: 700;
}

.D5 {
    background: #ceced8 !important;
    border-radius: 19px 19px 0 0;
    color: #fff!important;
    font-size: 24px !important; 
   
    padding: 10px 0px !important;
}
.D5active {
    background: linear-gradient(180deg, #FF9901 0%, #E57201 100%) !important;
    border-radius: 19px 19px 0 0 ;
    color: white !important;
    font-size: 24px !important;
   
}

.wingonav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
}

.wingonav>img {
    filter: grayscale(1)
}

.wingonav>p:nth-child(2) {
    font-size: 13px;
    font-weight: 500;
    margin-top: 3px;
}

.wingonav>p:nth-child(3) {
    font-size: 13px;
    font-weight: 500;
}

.wingonavactive {
    background: linear-gradient(180deg, #FFD058 0%, #FFF 100%);
    border-radius: 10px;
    border: .01333rem solid #FFA43F;
}

.wingonavactive>img {
    filter: grayscale(0)
}

.wingonavactive>p:nth-child(2) {
    color: #FF9801;
}

.wingonavactive>p:nth-child(3) {
    color: #FF9801;
}

.htpbutton {
    color: white !important;
    font-size: 11px !important;
    font-weight: 400 !important;
    border: 1px solid white !important;
    border-radius: 20px !important;
    padding: 0px !important;
    width: 100%;
}


.htpbutton2 {
    color: #F28E17 !important;
    font-size: 11px !important;
    font-weight: 400 !important;
    padding: 0px 5px !important;
    border: 1px solid white !important;
    border-radius: 20px !important;
    background-color: #ffffff !important;
    margin-left: 10px !important;
}

.htpbutton3 {
    color: #F28E17 !important;
    font-size: 11px !important;
    font-weight: 400 !important;
    padding: 0px 5px !important;
    border: 1px solid white !important;
    border-radius: 20px !important;
    background-color: #ffffff !important;
}

.psize {
    font-size: 12px !important;
    font-weight: 400 !important;
    color: white !important;
}

.timer {
    background-color: transparent !important;
    color: white !important;
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%, 0 30%);
    padding: 0px 5px;
    font-size: 18px;
    font-weight: 700;
    margin-right: 5px;
    height: 28px;
    background-repeat: no-repeat;
}

.timer1 {
    background-color: #ffffff1a !important;
    color: white !important;
    padding: 0px 5px;
    font-size: 18px;
    font-weight: 700;
    margin-right: 5px;
    height: 26px;
    background-repeat: no-repeat;
    border: 1px solid white;
    margin-top: 1px;
    display: flex;
    align-items: center;
}

.timer2 {
    background-color: transparent !important;
    color: white !important;
    clip-path: polygon(100% 0, 100% 70%, 70% 100%, 0 100%, 0 0);
    padding: 0px 5px;
    font-size: 18px;
    font-weight: 700;
    height: 28px;
    background-repeat: no-repeat;
}

.idnumber {
    font-size: 16px !important;
    font-weight: 700 !important;
    color: white !important;
    margin-top: 9px !important;
}

.timername {
    font-size: 14px !important;
    font-weight: 600 !important;
    color: white !important;
    margin-bottom: 5px !important;
}

.greenbtn {
    background: #40AD72 !important;
    color: white !important;
    border-radius: 0px 10px !important;
    width: 31% !important;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.violetbtn {
    background: #B659FE !important;
    color: white !important;
    border-radius: 10px !important;
    width: 31% !important;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.redbtn {
    background: #FD565C !important;
    color: white !important;
    border-radius: 10px 0px !important;
    width: 31% !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.css-9emuhu-MuiPaper-root-MuiDrawer-paper {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
    overflow-y: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    -ms-flex: 1 0 auto;
    flex: none;
    z-index: 1200;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: auto;
    outline: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    max-width: 400px !important;
    margin: auto !important;
    border-radius: 10px 10px 0px 0px;
    padding: 10px 0px 0px 0px;
    overflow: hidden !important;
}

.inputamt>div>input {
    text-align: center !important;
}

.inputamt>div {
    border-radius: 0;
}


.gametable {
    background: #ffffff !important;
    border-radius: 10px;
    color: rgb(154 154 154) !important;
    font-size: 12px !important;
    font-weight: 700;
    width: 32%;
    padding: 10px 0px !important;

}

.gametableactive {
    background: linear-gradient(180deg, #FF9901 0%, #E57201 100%) !important;
    border-radius: 10px;
    color: white !important;
    font-size: 12px !important;
    font-weight: 700;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    border-radius: 10px !important;
}

.htpbox {
    padding: 10px 0px;
}

.labelselect {
    padding: 10px 0px;
}

.rs-input-group.rs-input-group-inside {
    width: 100%;
    background-color: #fff;
    background-color: var(--rs-input-bg);
    padding: 10px !important;
}

.MuiSelect-select .MuiSelect-outlined .MuiInputBase-input {
    background: #ffffff !important;
}

.rs-picker-popup .rs-calendar {
    max-width: 200px !important;
    display: block;
    margin: 0 auto;
}

.rs-picker-popup .rs-calendar {
    max-width: 200px !important;
    display: block;
    margin: 0 auto;
}

.apexcharts-text .apexcharts-datalabel-label {
    display: none !important;
}


.example {
    overflow-y: scroll !important;
}

.example::-webkit-scrollbar {
    display: none !important;
}

.example {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}


.MuiPaper-root.MuiPaper-elevation::-webkit-scrollbar {
    display: none !important;
}

.MuiPaper-root.MuiPaper-elevation {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.stuff p {
    padding: 30px 0;
    font-family: sans-serif;
    font-size: 30px;
  }
  .totop {
    border: none;
    outline: none;
    position: fixed;
    right: 0;
    bottom: 30px;
    background: none;
    padding: 30px 30px;
    border-radius: 50%;
  }
  .totop:before {
    font-family: FontAwesome;
    content: "\f106";
    font-size: 70px;
    color: #fff;
    padding: 0px 15px 3px;
    display: block;
    vertical-align: middle;
    align-content: center;
    position: fixed;
    right: 0;
    bottom: 30px;
    background: #00f;
    border: none;
    border-radius: 50%;
    transition: right 0.5s ease;
  }
  .hidetop:before {
    right: -200px;
  }
  